// Text Colors
$text-secondary-color: #0000008A;
$text-color-icons: #B0BBD1;

// Border Colors
$goal-item-border: #D7DDE9;
$goal-checked-border: #0796D3;
$button-focus-border-color: #0796D3;

// Background Colors
$goal-checked-bg: #A0DCF6;
$delete-color: #d60000;

// Button Backgrounds
$button-primary-bg: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
$button-delete-bg: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
